body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

textarea {
    width: 50%;
}

input {
    width: 30%;
    height: 30px;
    font-size: 20px;
}

.add-post {
    margin: 1% 15%;
    padding: 1%;
    background-color: aqua;
    width: 70%;
    text-align: center;
}

.edit-post {
    margin: 1% 15%;
    padding: 1%;
    background-color: aqua;
    width: 70%;
    text-align: center;
}

.user-form {
    margin: 1% 15%;
    padding: 1%;
    background-color: aqua;
    width: 70%;
    text-align: center;
}

.user-form > button {
    display: block;
}

.user-form > button.back-button {
    margin: 2.5% 45%;
}

button.add-post-button {
    margin: 2.5%;
    padding: 1%;
    height: 40px;
    width: 100px;
    font-size: 17px;
    cursor: pointer;
}

button.edit-post-button {
    margin: 2.5%;
    padding: 1%;
    height: 40px;
    width: 100px;
    font-size: 17px;
    cursor: pointer;
}

button.back-button {
    margin: 2.5%;
    padding: 1%;
    height: 40px;
    width: 100px;
    font-size: 17px;
    cursor: pointer;
}

button.log-in-button {
    margin: 2.5% 45%;
    padding: 1%;
    height: 40px;
    width: 100px;
    font-size: 17px;
    cursor: pointer;
}

header {
    z-index: 1;
    position: sticky;
    background-color: rgb(141, 203, 231);
    text-align: center;
    padding: 0.5%;
    margin-bottom: 0.5%;
    font-size: 20px;
    top: 0;
}

h1.site-name {
    display: inline;
    color: blueviolet;
    margin: 2.5%;
    cursor: default;
}

button.log-in-out {
    float: right;
    margin: 0.5% 5% 0.5% 2.5%;
    font-size: 18px;
    width: 80px;
    cursor: pointer;
}

.user-info {
    margin: 0.5% 2.5% 0.5% 5%;
    float: left;
}

.content {
    margin: 0.5%;
    padding: 0.5%;
}

form.filters {
    vertical-align: top;
    display: inline-block;
    margin: 0.5% 0.5% 1% 0.1%;
    padding: 1%;
    background-color: rgb(190, 141, 231);
    text-align: center;
    line-height: 2px;
    width: 25%;
}

.filter {
    margin: 2.5%;
    font-style: italic;
}

.filter > input {
    font-size: 100%;
    width: 40%;
}

input.apply-filters {
    width: 70px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.news-seed {
    display: inline-block;
    margin: 0.5% 0.1% 0.5% 0.5%;
    padding: 1%;
    background-color: khaki;
    width: 69%;
}

button.add-button {
    display: block;
    margin: auto;
    position: relative;
    font-size: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.test-post {
    position: relative;
    padding: 1%;
    margin: 1% 5%;
    background-color: silver;
}

.post-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.post-description {
    margin: 2% 0;
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.post-image {
    margin: -1% 2%;
    width: 10%;
    height: 30%;
}

.post-footer {
    padding: 1%;
}

img.post-like {
    width: 20px; 
    margin: 1px;
    cursor: pointer;
}

.likes-count {
    font-style: italic;
    margin: 1px;
}

.post-actions-buttons {
    float: right;
}

button.action-button {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 1px;
}

button.more-button {
    display: block;
    margin: auto;
    font-size: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

footer {
    margin-top: 0.5%;
    background-color: rgb(141, 203, 231);
    width: 100%;
    text-align: center;
}

.creator-info {
    font-family: cursive;
    cursor: default;
}

.date {
    font-family: cursive;
    cursor: default;
}

@media only screen and (max-width: 1535px) {
    form.filters {
        width: 50%;
        margin: 0.5% auto;
        display: block;
    }

    .news-seed {
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 486px) {
    header {
        font-size: 10px;
    }

    header > button.log-out {
        font-size: 10px;
        width: 50px;
        margin: 1%;
    }

    .user-info {
        margin: 1%;
    }

    form.filters {
        font-size: 10px;
    }

    form.filters > button.apply-filters {
        font-size: 12px;
    }

    .filter > input {
        width: 60px;
    }

    .news-seed {
        font-size: 10px;
    }

    .news-seed > button {
        font-size: 15px;
        height: 25px;
        width: 90px;
    }

    .likes-display > img {
        width: 15px;
    }

    .likes-count {
        font-size: 7px;
    }

    .post-actions-buttons > button {
        font-size: 10px;
        height: 20px;
    }

    .test-post {
        margin: 5%;
    }

    footer {
        font-size: 10px;
    }
}