body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 1;
    position: sticky;
    background-color: rgb(141, 203, 231);
    width: 100%;
    text-align: center;
    padding: 0.5%;
    top: 0%;
    margin-bottom: 0.5%;
}

h1.site-name {
    display: inline;
    color: blueviolet;
    margin: 5%;
    cursor: default;
}

button.log-out {
    font-size: 15px;
    float: right;
    margin: 0.5% 5% 0.5% 5%;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.user-info {
    margin: 0.5% 5% 0.5% 10%;
    float: left;
    font-size: 20px;
}

img.user-icon {
    width: 20px;
    cursor: pointer;
}

.content {
    margin: 0.5%;
    padding: 0.5%;
}

.filters {
    vertical-align: top;
    display: inline-block;
    margin: 0.5% 0.5% 1%;
    padding: 0.5%;
    background-color: rgb(190, 141, 231);
    text-align: center;
    line-height: 2px;
    width: 350px;
}

.filter {
    margin: 5%;
    font-style: italic;
}


button.apply-filters {
    width: 70px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.news-seed {
    display: inline-block;
    margin: 0.5% 0.25% 1% 1%;
    padding: 1%;
    width: 1050px;
    background-color: khaki;
}

button.add-button {
    display: block;
    margin: auto;
    position: relative;
    font-size: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.test-post {
    position: relative;
    padding: 1%;
    margin: 1% 5%;
    background-color: silver;
}

.post-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.post-description {
    margin: 2% 0%;
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.post-image {
    position: relative;
    margin: -1% 2%;
    width: 10%;
    height: 30%;
}

.post-footer {
    position: relative;
    padding: 1%;
    border-top-color: black;
    border-top-width: 20%;
    border-top-style: solid;
}

img.post-like {
    position: relative;
    width: 20px; 
    margin: 0.5%;
}

.likes-count {
    position: relative;
    bottom: 7px;
    font-style: italic;
}

.post-actions-buttons {
    float: right;
}

button.action-button {
    width: 60px;
    height: 30px;
}

button.more-button {
    display: block;
    margin: auto;
    position: relative;
    font-size: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

footer {
    background-color: rgb(141, 203, 231);
    width: 100%;
    text-align: center;
}

.creator-info {
    font-family: cursive;
    cursor: default;
}

.date {
    font-family: cursive;
    cursor: default;
}

@media only screen and (max-width: 600px) {

    header {
        height: 7%;
    }

    h1.site-name {
        font-size: 130%;
    }

    button.log-out {
        top: -90%;
        right: -30%;
        width: 20%;
    }
    h2.username {
        font-size: 130%;
        left: -27%;
        top: -180%;
    }

    h1.site-name {
        bottom: 20%;
    }

    img.user-icon {
        width: 10%;
        top: -280%;
        left: -43%;
    }

    footer {
        height: 5%;
    }

    .user-info {
        font-size: 70%;
    }

    .date {
        font-size: 70%;
    }

    .filters {
        margin: 6% 0.5%;
        height: 45%;
    }

    .filters > h1 {
        font-size: 150%;
    }

    .filters > h3 {
        font-size: 100%;
    }

    .filters > input {
        width: 80%;
    }

    button.apply-filters {
        width: 70%;
        left: 15%;
    }

    button.add-button {
        top: 3%;
        height: 3%;
        width: 30%;
        font-size: 80%;
    }

    .test-post {
        margin-top: 15%;
        height: 22%;
    }

    .post-header {
        font-size: 70%;
    }

    .post-description {
        font-size: 90%;
    }

    img.post-image {
        width: 25%;
    }

    img.post-like {
        width: 10%;
    }

    button.delete-button {
        font-size: 90%;
        right: -10%;
    }

    button.edit-button {
        font-size: 90%;
        right: 30%;
    }
}